extends base.pug
block content
  h1= 'Meme ' + meme.name
  p= 'Price: ' + meme.price
  img(src=meme.url)
  table
    caption History of price
    thead
      th Price
      th Date
    tbody
      each price in meme.prices
        tr
          td= price.value
          td= price.date.toDateString()
  if logged
    form(method='POST')
      input#price(type='number' name='price' plaveholder='New price' required)
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='submit' value='Set new price')